<h1>Todo Items</h1>

<% if @filter_items %>
    <p>Showing only pending items</p>

<% else %>
    <p><a href="?filter=pending">Show only pending items</a></p>
<% end %>

<ul id="item_list">
    <% @items.each do |item| %>
        <li><%= link_to todo_item_title_status(item), edit_todo_item_path(item) %></li>
    <% end %>
</ul>

<%= link_to 'Add New Item...', new_todo_item_path %>