<h1><%= @todo_list.title %></h1>

<p><%= link_to 'Edit', edit_todo_list_path(@todo_list) %></p>

<% if @show_only_pending %>
    <p>Showing only pending items</p>

<% else %>
    <p><a href="?filter=pending">Show only pending items</a></p>
<% end %>

<ul class='index' id='todo-items'>
<% @todo_items.each do |item| %>
    <li><%= link_to todo_item_title_status(item), todo_list_todo_item_path(@todo_list, item) %></li>
<% end %>
</ul>

<%= link_to 'Add New Item...', new_todo_list_todo_item_path(@todo_list) %>