<h1><%= @todo_list.title %></h1>

<p><%= link_to 'Edit', edit_todo_list_path(@todo_list) %></p>

<ul id='todo-items'>
<% @todo_list.todo_items.all.each do |item| %>
    <li><%= item.description %></li>
<% end %>
</ul>

<%= link_to 'Add New Item...', new_todo_list_todo_item_path(@todo_list) %>