<h1>About this app</h1>

<div class='page'>
    <p>
        A small application for managing things to get done. 
    </p>

    <h2>Acknowledgements</h2>

    <p>
      Icons are from <a href='http://www.gnome.org'>GNOME Project</a>, 
      specifically <a href='https://gitlab.gnome.org/GNOME/adwaita-icon-theme'>Adwaita</a>.
    </p>

    <h2>Content</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus orci justo, sodales a posuere blandit, gravida a magna. Cras et aliquet nibh. Cras vel urna at turpis vehicula auctor. Quisque tincidunt libero non massa blandit consectetur. Aenean tincidunt magna odio, quis imperdiet quam aliquam sit amet. Ut fermentum ipsum nec vestibulum ullamcorper. Phasellus nec cursus arcu. Aliquam fermentum mollis neque, eget tempus arcu congue ac. Aenean tortor magna, dapibus eget arcu eu, vehicula vestibulum purus. Cras aliquet et dolor sit amet volutpat. Nunc sollicitudin turpis in fermentum sagittis. Nulla semper justo in tellus malesuada, in ultrices purus dictum. Quisque id finibus sapien. Etiam turpis mauris, condimentum ac nibh nec, fermentum pellentesque massa. Aenean quis pretium risus. Vivamus non mollis erat.
    </p>

    <p>
        Curabitur quis odio nisi. Sed euismod sem eget lacus ornare ornare. Morbi consequat semper diam. Donec eleifend finibus turpis, placerat pellentesque ipsum efficitur eget. Praesent in risus id arcu mattis blandit quis pretium felis. Fusce id tempus arcu. Quisque pellentesque metus erat, vel mollis neque malesuada et. Maecenas bibendum justo sed orci sodales, et hendrerit eros consequat. Fusce fermentum, neque nec scelerisque ultrices, enim massa placerat tortor, quis elementum ex urna sed erat. Aliquam aliquam sagittis turpis, ut consectetur urna tristique quis. Ut porttitor, ipsum ut congue consectetur, orci dui sollicitudin metus, quis ornare massa ligula sed tellus. Praesent pretium enim sed magna accumsan, non pretium lacus semper. Cras eget laoreet dolor. In ac sapien vitae dolor mollis auctor non ac eros.
    </p>
</div>