<h1>Hello, you</h1>

<ul id='aspirations'>
<% @aspirations.each do |aspiration| %>
    <li><%= link_to aspiration.title, aspiration_path(aspiration) %></li>
<% end %>
</ul>

<p>
    A small application for managing things to get done. 
</p>

<!-- 
HI! I have no clue what I am doing with his. 
Don't let anyone tell you that they are some kind of super-human.
Everyone is broken a little.
-->