<h1>Your Aspirations</h1>

<p><%= link_to 'Add Aspiration', new_aspiration_path %></p>

<ul class='index' id='aspirations'>
<% @aspirations.each do |aspiration| %>
    <li><%= link_to aspiration.title, aspiration_path(aspiration) %>
<% end %>
</ul>