body {
    font-family: sans-serif;
    font-size: 18px;
    background-color: #999;
    color: #000;
}

a {
    text-decoration: none;
    color: #555;
}

a:hover {
    text-decoration: underline;
    color: #000;
}