#flash-box {
    padding-bottom: 1em;
}

#flash-box .flash {
    background-color: #555;
    padding: 1.5em;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

#flash-box #flash-info {
    background-color: #090;
}

#flash-box #flash-error {
    background-color: #f00;
}