form {

    &.form {
        width: 80%;
    }

    fieldset {
        padding-bottom: 2em;
    }

    fieldset label {
        display: block;
        font-weight: bold;
        padding-bottom: 0.5em;
    }

    fieldset select {
        padding: 0.5em;
        width: 100%;
    }

    fieldset input, fieldset textarea {
        border: 1px solid #777;
        border-radius: 3px;
    }

    .text {
        width: 100%;
        font-size: 1.15em;
        padding: 0.5em;
    }

    &.form fieldset textarea {
        height: 7em;
    }

    input.button {
        font-size: 1.3em;
        padding: 0.65em;
    }

    .hints {
        font-size: 0.8em;
        color: #666;
    }

    .hints ul {
        padding-left: 1em;
    }

    fieldset.checkbox {
        padding-bottom: 1em;
        p {
            padding-bottom: 1em;
        }
        label {
            display: inline;
            font-size: 1.3em;
            font-weight: normal;
        }
        input {
            display: inline;
            width: 1.7em;
        }
    }

    &.delete_form {
        padding: 0.5em;
        padding-top: 1em;
        background-color: #ddd;
    }

    &.delete_form fieldset.buttons {
        padding-bottom: 0.5em;
    }

}