form.form {
  width: 80%;
}

form fieldset {
  padding-bottom: 2em;
}

form fieldset label {
    display: block;
    font-weight: bold;
    padding-bottom: 0.5em;
}

form fieldset select {
    padding: 0.5em;
    width: 100%;
}

form fieldset input, form fieldset textarea {
    border: 1px solid #777;
    border-radius: 3px;
}

form .text {
    width: 100%;
    font-size: 1.15em;
    padding: 0.5em;
}

form.form fieldset textarea {
    height: 7em;
}

form input.button {
    font-size: 1.3em;
    padding: 0.65em;
}